.Home{
    padding: 0 100px;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Home{
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    .Home{
        padding: 0 0px;
    }
}