




























/* 
.footer {
    background-color: #0070E2;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.footer > * {
    position: relative;
    z-index: 2;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 252px;
    background-image: url('../../../public/picFooter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.footer::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0070E2;
    z-index: 0;
}

.order-now-btn{
    width: 300px;
    height: 55px;
    border-radius: 50px;
    border: none;
    font-weight: 400;
    font-size: 40px;
    background-color: #FFD667;
    color: #0353A4;
    cursor: pointer;
        font-family: 'Ara Hamah AlFidaa', sans-serif;
}
.left-top-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.left-bottom-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
 */

