.category-buttons-container {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin: 30px 0;
}
.category-btn {
  width: 279px;
  height: 55px;
  border-radius: 15px;
  margin: 20px 0px;
  border: none;
  font-size: 30px;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.category-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.category-btn.active {
  outline: 1.5px solid #b2b2b2bd;
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 1024px) {

  .category-buttons-container {
  gap: 15px;
  margin: 20px 0;
}
.category-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 15px 0px;
  font-size: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
}

@media (max-width: 767px) {

  .category-buttons-container {
  gap: 10px;
  margin: 15px 0;
}
.category-btn {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
}