.category-select-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  font-family: 'DM Sans', sans-serif;
}

/* Main button */
.custom-select {
  background: #0B56A5;
  color: #fff;
  padding: 15px 20px;
  border-radius: 999px;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 10px 25px rgba(11, 86, 165, 0.35);
  transition: all 0.25s ease;
}

.custom-select:hover {
  background: #094a8d;
  transform: translateY(-1px);
}

/* Arrow */
.custom-select .arrow {
  width: 20px;
  height: 20px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg);
  transition: 0.3s;
  margin-left: 10px;
}

.custom-select.open .arrow {
  transform: rotate(135deg); /* يقلب لفوق */
}

/* Dropdown box */
.custom-options {
  margin-top: 12px;
  background: #0B56A5;
  border-radius: 28px;
  padding: 18px 0;
  list-style: none;

  box-shadow: 0 14px 30px rgba(11, 86, 165, 0.4);
  animation: fadeDown 0.25s ease;
}

/* Items */
.custom-options li {
  padding: 14px 28px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.custom-options li:hover {
  background: rgba(255,255,255,0.15);
}

.custom-options li.active {
  background: rgba(255,255,255,0.25);
}

/* Animation */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .category-select-container {
    max-width: 260px;
    margin: 15px 0px;
  }

  .custom-select {
    padding: 16px 20px;
    font-size: 18px;
  }
    .custom-select .arrow {
    width: 10px;
    height: 10px;
    border-width: 2.5px;
  }

  .custom-options li {
    font-size: 18px;
    padding: 10px 18px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .category-select-container {
    max-width: 170px;
    margin: 10px 0px;
  }

  .custom-select {
    padding: 6px 10px;
    font-size: 12px;
  }

  .custom-select .arrow {
    width: 8px;
    height: 8px;
    border-width: 2.5px;
  }

  .custom-options {
    border-radius: 20px;
  }

  .custom-options li {
    font-size: 12px;
    padding: 6px 10px;
  }
}
